body {

    font-family: sans-serif;
}

.header {

    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
    margin: 0;
}

.logo {

    font-size: 24px;
    color: #F9FAF8;

}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    
}

a {
    text-decoration: none;
    box-shadow: none;
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
}

.first-image {

    width: 400px;
    height: 100%;
    display: flex;
    flex-shrink: 0;
}

.container {

    display: flex;
    flex-direction: column;

}

.second-section {

    display: flex;
    background-color: #1F2937;
    padding: 50px 250px 100px 250px;
    color: #E5E7EB;
    font-size: 18px;
    gap: 100px;
}

h2 {

    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

button {

    color:#E5E7EB;
    background-color: #3882F6;
    width: 110px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold ;
    font-size: medium;
}

.info-header {

    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 50px 0px;
}

.images-container {

    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-bottom: 50px;
}

.bergkamp, .zidane, .ronaldinho, .cantona {

    border: 5px solid #3882F6;
    border-radius: 10px;
   
}

.bergkamp-container, .zidane-container, .cantona-container, .ronaldinho-container {
    display: flex;
    width: 200px;
    height: 200px;
    flex: 0 0 auto;
    flex-direction: column;
    
}